{%extends 'store/base.html'%}

{%block 'mainblock'%}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1>checkout</h1>
                    <div>
                    {%if cart%}
                        {%for c in cart%}
                        <form action="" method="post">
                        {%csrf_token%}

                        <div class="card " style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{c.product_object.product_pic.url}}" class="" alt="..." width="100%" height="50%" >
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{c.product_object.title}}</h5>
                                  <p class="card-text">{{c.product_object.description}}</p>
                                  <p class="card-text">{{c.product_object.brand_object}}</p>
                                  <p class="card-text">{{c.product_object.memory_object}}</p>
                                  <p class="card-text">{{c.product_object.price}} R.s</p>
                                 
      
                                </div>
                    
                
                              </div>
                            </div>
                          </div>

                          </form>
                    {%endfor%}
                    {%else%}
                    <form action="" method="post">
                        {%csrf_token%}

                        <div class="card " style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{product.product_pic.url}}" class="" alt="..." width="100%" height="50%" >
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{product.title}}</h5>
                                  <p class="card-text">{{product.description}}</p>
                                  <p class="card-text">{{product.brand_object}}</p>
                                  <p class="card-text">{{product.memory_object}}</p>
                                  <p class="card-text">{{product.price}} R.s</p>
                                 
      
                                </div>
                    
                
                              </div>
                            </div>
                          </div>

                          </form>

                    {%endif%}
                    <div class="border" style="max-width: 540px;">
                        <center>
                        <form action="" method="post">
                        <table>
                            <tr>
                                <td colspan="2" style="font-weight: bolder;"><u>customer details</u></td>
                            </tr>
                            <tr>
                                <td>name :</td>
                                <td>{{name}}</td>
                            </tr>
                            <tr>
                                <td>address :</td>
                                <td>{{address}}</td>
                            </tr>
                            <tr>
                                <td>phone :</td>
                                <td>{{phone}}</td>
                            </tr>
                            </form>
                            <tr>
                                <td colspan="2"><button id="rzp-button1" class="btn btn-success form-control ">payment</button></td>

                                <!-- ============================================================================================= -->
                                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                <script>
                                var options = {
                                    "key": "{{context.key}}", // Enter the Key ID generated from the Dashboard
                                    "amount": "{{context.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                    "currency": "{{context.currency}}",
                                    "name": "Acme Corp",
                                    "description": "Test Transaction",
                                    "image": "https://example.com/your_logo",
                                    "order_id": "{{context.order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                    "callback_url": "http://127.0.0.1:8000/payment/verification/",
                                    "prefill": {
                                        "name": "Gaurav Kumar",
                                        "email": "gaurav.kumar@example.com",
                                        "contact": "9000090000"
                                    },
                                    "notes": {
                                        "address": "Razorpay Corporate Office"
                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                };
                                var rzp1 = new Razorpay(options);
                                document.getElementById('rzp-button1').onclick = function(e){
                                    rzp1.open();
                                    e.preventDefault();
                                }
                                </script>

                                <!-- ============================================================================================= -->
                                
                            </tr>
                        </table>
                      

                        </center>
                    </div>
                    

                    
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>


{%endblock%}